# Preprocessing  
Processing for manually downloaded Morningstar Excel files

In [107]:
from pathlib import Path

data_fp = Path("data")

In [108]:
import pandas as pd

df = pd.read_excel(data_fp / "Balance Sheet_Annual_As Originally Reported.xls", engine="xlrd", header=None).T
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,KMB_balance-sheet_Annual_As_Originally_Reported,Total Assets,Total Current Assets,"Cash, Cash Equivalents and Short Term ...",Cash and Cash Equivalents,Inventories,"Raw Materials, Consumables and Sup...",Work-in-Process,Finished Goods and Merchandise,Inventory Allowance/Adjustments,...,Total Lease Liability - Interest Charges a...,Total Contractual Obligations,Total Contractual Obligations due in year 1,Total Contractual Obligations due in year 2,Total Contractual Obligations due in year 3,Total Contractual Obligations due in year 4,Total Contractual Obligations due in year 5,Total Contractual Obligations due Beyond,Total Contractual Obligations - Interests ...,Fiscal year ends in Dec 31 | USD
1,2020.0,17523000000.0,5174000000.0,303000000.0,303000000.0,1903000000.0,657000000.0,189000000.0,1202000000.0,-145000000.0,...,-47000000.0,18332000000.0,4606000000.0,1800000000.0,1450000000.0,1035000000.0,952000000.0,8536000000.0,-47000000.0,NaN
2,2021.0,17837000000.0,5565000000.0,270000000.0,270000000.0,2239000000.0,773000000.0,242000000.0,1442000000.0,-218000000.0,...,-35000000.0,17792000000.0,4539000000.0,2132000000.0,1040000000.0,975000000.0,730000000.0,8411000000.0,-35000000.0,NaN

In [109]:
df.columns=df.iloc[0]
df = df.iloc[1:, :]
df.head(3)

,KMB_balance-sheet_Annual_As_Originally_Reported,Total Assets,Total Current Assets,"Cash, Cash Equivalents and Short Term Investments",Cash and Cash Equivalents,Inventories,"Raw Materials, Consumables and Supplies",Work-in-Process,Finished Goods and Merchandise,Inventory Allowance/Adjustments,...,Total Lease Liability - Interest Charges and Other Adjustments,Total Contractual Obligations,Total Contractual Obligations due in year 1,Total Contractual Obligations due in year 2,Total Contractual Obligations due in year 3,Total Contractual Obligations due in year 4,Total Contractual Obligations due in year 5,Total Contractual Obligations due Beyond,Total Contractual Obligations - Interests Charges and Other Adjustments,Fiscal year ends in Dec 31 | USD
1,2020.0,17523000000.0,5174000000.0,303000000.0,303000000.0,1903000000.0,657000000.0,189000000.0,1202000000.0,-145000000.0,...,-47000000.0,18332000000.0,4606000000.0,1800000000.0,1450000000.0,1035000000.0,952000000.0,8536000000.0,-47000000.0,NaN
2,2021.0,17837000000.0,5565000000.0,270000000.0,270000000.0,2239000000.0,773000000.0,242000000.0,1442000000.0,-218000000.0,...,-35000000.0,17792000000.0,4539000000.0,2132000000.0,1040000000.0,975000000.0,730000000.0,8411000000.0,-35000000.0,NaN
3,2022.0,17970000000.0,5729000000.0,427000000.0,427000000.0,2269000000.0,874000000.0,246000000.0,1388000000.0,-239000000.0,...,-35000000.0,18558000000.0,4822000000.0,2305000000.0,1747000000.0,1018000000.0,1149000000.0,7563000000.0,-46000000.0,NaN

In [110]:
df = df.reset_index(drop=True)
df = df.rename(columns={"KMB_balance-sheet_Annual_As_Originally_Reported": "Year"})
df.head(3)

,Year,Total Assets,Total Current Assets,"Cash, Cash Equivalents and Short Term Investments",Cash and Cash Equivalents,Inventories,"Raw Materials, Consumables and Supplies",Work-in-Process,Finished Goods and Merchandise,Inventory Allowance/Adjustments,...,Total Lease Liability - Interest Charges and Other Adjustments,Total Contractual Obligations,Total Contractual Obligations due in year 1,Total Contractual Obligations due in year 2,Total Contractual Obligations due in year 3,Total Contractual Obligations due in year 4,Total Contractual Obligations due in year 5,Total Contractual Obligations due Beyond,Total Contractual Obligations - Interests Charges and Other Adjustments,Fiscal year ends in Dec 31 | USD
0,2020.0,17523000000.0,5174000000.0,303000000.0,303000000.0,1903000000.0,657000000.0,189000000.0,1202000000.0,-145000000.0,...,-47000000.0,18332000000.0,4606000000.0,1800000000.0,1450000000.0,1035000000.0,952000000.0,8536000000.0,-47000000.0,NaN
1,2021.0,17837000000.0,5565000000.0,270000000.0,270000000.0,2239000000.0,773000000.0,242000000.0,1442000000.0,-218000000.0,...,-35000000.0,17792000000.0,4539000000.0,2132000000.0,1040000000.0,975000000.0,730000000.0,8411000000.0,-35000000.0,NaN
2,2022.0,17970000000.0,5729000000.0,427000000.0,427000000.0,2269000000.0,874000000.0,246000000.0,1388000000.0,-239000000.0,...,-35000000.0,18558000000.0,4822000000.0,2305000000.0,1747000000.0,1018000000.0,1149000000.0,7563000000.0,-46000000.0,NaN

In [111]:
df = df.drop(columns=["Fiscal year ends in Dec 31 | USD"])
df.loc[:,df.isna().sum() > 0].head(3)

,Trademarks and Patents,Accumulated Amortization and Impairment,Accumulated Amortization of Intangible Assets,Accumulated Amortization of Intangibles other than Goodwill,Accumulated Amortization of Trademarks and Patents,Accumulated Amortization of Other Intangible Assets,"Derivative and Hedging Liabilities, Current",Other Current Liabilities,Debt - Interests Charges and Other Adjustments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,806000000.0,-99000000.0,-99000000.0,-99000000.0,-82000000.0,-17000000.0,NaN,NaN,NaN
2,863000000.0,-110000000.0,-110000000.0,-110000000.0,-91000000.0,-19000000.0,200000000.0,401000000.0,-11000000.0

Missing values are sequential and from 2020, 2021.  
Imputation won't be reliable with OOD estimation.  
Leaving missing values untouched.

In [112]:
df.columns = [c.strip() for c in df.columns]
df = df.astype(float)

cleaned_fp = Path("cleaned")
df.to_csv(cleaned_fp / "balance_sheet_annual.csv", index=False)

# Quarterly Balance Sheets

In [113]:
df = pd.read_excel(data_fp / "Balance Sheet_Quarterly_As Originally Reported.xls").T.reset_index()
df.columns = df.iloc[0]
df = df.iloc[1:].rename(columns={"KMB_balance-sheet_Quarterly_As_Originally_Reported": "year"})
df["quarter"] = df["year"].str.split(" ").apply(lambda x: x[0][1])
df["year"] = df["year"].str.split(" ").apply(lambda x: x[1])

df.head(3)

,year,Total Assets,Total Current Assets,"Cash, Cash Equivalents and Short Term Investments",Cash and Cash Equivalents,Inventories,"Raw Materials, Consumables and Supplies",Work-in-Process,Finished Goods and Merchandise,Inventory Allowance/Adjustments,...,Total Contractual Obligations,Total Contractual Obligations due in year 1,Total Contractual Obligations due in year 2,Total Contractual Obligations due in year 3,Total Contractual Obligations due in year 4,Total Contractual Obligations due in year 5,Total Contractual Obligations due Beyond,Total Contractual Obligations - Interests Charges and Other Adjustments,Fiscal year ends in Dec 31 | USD,quarter
1,2021,17827000000.0,5572000000.0,306000000.0,306000000.0,2110000000.0,718000000.0,235000000.0,1354000000.0,-197000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2021,17775000000.0,5626000000.0,286000000.0,286000000.0,2098000000.0,759000000.0,234000000.0,1321000000.0,-216000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2021,17837000000.0,5565000000.0,270000000.0,270000000.0,2239000000.0,773000000.0,242000000.0,1442000000.0,-218000000.0,...,17792000000.0,4539000000.0,2132000000.0,1040000000.0,975000000.0,730000000.0,8411000000.0,-35000000.0,NaN,4

In [114]:
df = df.drop(columns=["Fiscal year ends in Dec 31 | USD"])
df.columns = [c.strip() for c in df.columns]

In [115]:
df.loc[:,df.isna().sum() > 0].tail(3)

,"Other Receivables, Current","General Allowance for Receivables and Write Offs, Current","Assets Held for Sale/Discontinued Operations, Current",Trademarks and Patents,Accumulated Amortization and Impairment,Accumulated Amortization of Intangible Assets,Accumulated Amortization of Intangibles other than Goodwill,Accumulated Amortization of Trademarks and Patents,Accumulated Amortization of Other Intangible Assets,"Assets Held for Sale/Discontinued Operations, Non-Current",...,Total Lease Liability - Beyond,Total Lease Liability - Interest Charges and Other Adjustments,Total Contractual Obligations,Total Contractual Obligations due in year 1,Total Contractual Obligations due in year 2,Total Contractual Obligations due in year 3,Total Contractual Obligations due in year 4,Total Contractual Obligations due in year 5,Total Contractual Obligations due Beyond,Total Contractual Obligations - Interests Charges and Other Adjustments
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,786000000.0,NaN,NaN,NaN,NaN,NaN,NaN,1620000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,774000000.0,NaN,NaN,NaN,NaN,NaN,NaN,1622000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Discontinued operations are a new recent event so it is reasonable to assume the previous lack of recording corresponds with no discontinued operations

In [116]:
discontinued_cols = [
    "Assets Held for Sale/Discontinued Operations, Current",
    "Assets Held for Sale/Discontinued Operations, Non-Current",
    "Discontinued Operations Liabilities, Current",
    "Liabilities Held for Sale/Discontinued Operations, Non-Current",
]

df[discontinued_cols] = df[discontinued_cols].fillna('0')

4th quarters are only missing discontinued operations values

In [117]:
df.loc[:,(df.isna().sum() > 0)].iloc[:,10:20].head(3)

,Current Debt,Current Portion of Long Term Debt and Capital Lease,Current Portion of Long Term Debt,"Capital Lease Obligations, Current","Derivative and Hedging Liabilities, Current",Other Current Liabilities,Debt Maturity Schedule Total,Debt due in Year 1,Debt due in Year 2,Debt due in Year 3
1,1493000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1387000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,118000000.0,445000000.0,315000000.0,130000000.0,NaN,NaN,8587000000.0,435000000.0,473000000.0,574000000.0

Missing:  
Derivative and Hedging Liabilities, Current,  
Other Current Liabilities,   
Debt - Interests Charges and Other Adjustment (impute with 0. no adjustments necessary),   
for index 3 (Q4 YYYY)   
  
Not making any assumptions about missing information for the first two features. No reasonable imputation

In [118]:
df.loc[df.index == 3, "Derivative and Hedging Liabilities, Current"] = 0
df = df.astype(float)

In [119]:
df.to_csv(cleaned_fp / "balance_sheet_quarterly.csv", index=False)

# Annual Cash Flow

In [120]:
def excel_to_df(f_name):
    df = pd.read_excel(data_fp / f_name, engine="xlrd", header=None).T
    df.columns=df.iloc[0]
    df = df.iloc[1:, :]
    df.columns = [c.strip() for c in df.columns]
    df = df.rename(columns={df.columns[0]: "year"})

    return df

In [121]:
df = excel_to_df("Cash Flow_Annual_As Originally Reported.xls")
df.head(3)

,year,"Cash Flow from Operating Activities, Indirect","Net Cash Flow from Continuing Operating Activities, Indirect",Cash Generated from Operating Activities,Income/Loss before Non-Cash Adjustment,Total Adjustments for Non-Cash Items,"Depreciation, Amortization and Depletion, Non-Cash Adjustment","Depreciation and Amortization, Non-Cash Adjustment","Depreciation, Non-Cash Adjustment","Amortization, Non-Cash Adjustment",...,Net Movement in Non-Controlling/Minority Interest,"Cash and Cash Equivalents, End of Period",Change in Cash,Effect of Exchange Rate Changes,"Cash and Cash Equivalents, Beginning of Period",Cash Flow Supplemental Section,"Change in Cash as Reported, Supplemental","Income Tax Paid, Supplemental","Interest Paid, Supplemental",Fiscal year ends in Dec 31 | USD
1,2020.0,3729000000.0,3729000000.0,3774000000.0,2396000000.0,1015000000.0,796000000.0,796000000.0,NaN,NaN,...,NaN,303000000.0,-143000000.0,4000000.0,442000000.0,NaN,-139000000.0,-533000000.0,-245000000.0,NaN
2,2021.0,2730000000.0,2730000000.0,2726000000.0,1844000000.0,836000000.0,766000000.0,766000000.0,NaN,NaN,...,NaN,270000000.0,-22000000.0,-11000000.0,303000000.0,NaN,-33000000.0,-492000000.0,-243000000.0,NaN
3,2022.0,2733000000.0,2733000000.0,2723000000.0,1961000000.0,779000000.0,754000000.0,754000000.0,NaN,NaN,...,NaN,427000000.0,188000000.0,-31000000.0,270000000.0,NaN,157000000.0,-468000000.0,-270000000.0,NaN

In [122]:
df = df.drop(
    columns = [
        "Other Irregular Income/Loss, Non-Cash Adjustment",
        "Net Movement in Non-Controlling/Minority Interest",
        "Cash Flow Supplemental Section",
        "Fiscal year ends in Dec 31 | USD"
    ]
)

df.head(3)

,year,"Cash Flow from Operating Activities, Indirect","Net Cash Flow from Continuing Operating Activities, Indirect",Cash Generated from Operating Activities,Income/Loss before Non-Cash Adjustment,Total Adjustments for Non-Cash Items,"Depreciation, Amortization and Depletion, Non-Cash Adjustment","Depreciation and Amortization, Non-Cash Adjustment","Depreciation, Non-Cash Adjustment","Amortization, Non-Cash Adjustment",...,Cash Dividends Paid to Non-Controlling/Minority Interests,Proceeds from Issuance/Exercising of Stock Options/Warrants,Other Financing Cash Flow,"Cash and Cash Equivalents, End of Period",Change in Cash,Effect of Exchange Rate Changes,"Cash and Cash Equivalents, Beginning of Period","Change in Cash as Reported, Supplemental","Income Tax Paid, Supplemental","Interest Paid, Supplemental"
1,2020.0,3729000000.0,3729000000.0,3774000000.0,2396000000.0,1015000000.0,796000000.0,796000000.0,NaN,NaN,...,NaN,217000000.0,-63000000.0,303000000.0,-143000000.0,4000000.0,442000000.0,-139000000.0,-533000000.0,-245000000.0
2,2021.0,2730000000.0,2730000000.0,2726000000.0,1844000000.0,836000000.0,766000000.0,766000000.0,NaN,NaN,...,NaN,65000000.0,-84000000.0,270000000.0,-22000000.0,-11000000.0,303000000.0,-33000000.0,-492000000.0,-243000000.0
3,2022.0,2733000000.0,2733000000.0,2723000000.0,1961000000.0,779000000.0,754000000.0,754000000.0,NaN,NaN,...,-98000000.0,94000000.0,-47000000.0,427000000.0,188000000.0,-31000000.0,270000000.0,157000000.0,-468000000.0,-270000000.0

In [123]:

duplicate_missing = [
    "Depreciation, Non-Cash Adjustment", # calculated from dep. and amort. cols
    "Amortization, Non-Cash Adjustment", # calculated from dep. and amort. cols
    "Common Stock Dividends Paid", # duplicated of cash dividends paid
]
df = df.drop(columns = duplicate_missing)
df = df.iloc[:-1,:] # ignore TTM

In [124]:
df.to_csv(cleaned_fp / "cash_flow_annual.csv", index=False)

# Quarterly Cash Flows

In [125]:
f_name = "Cash Flow_Quarterly_As Originally Reported.xls"
df = excel_to_df(f_name)

In [126]:
import numpy as np
df["quarter"] = df["year"].str.split().apply(lambda x: x[0][1])
df["year"] = df["year"].str.split().apply(lambda x: x[-1])

df.iloc[-1,-1] = np.nan
df = df.iloc[:-1,:] # remove TTM
df.head(3)

,year,"Cash Flow from Operating Activities, Indirect","Net Cash Flow from Continuing Operating Activities, Indirect",Cash Generated from Operating Activities,Income/Loss before Non-Cash Adjustment,Total Adjustments for Non-Cash Items,"Depreciation, Amortization and Depletion, Non-Cash Adjustment","Depreciation and Amortization, Non-Cash Adjustment","Pension and Employee Benefit Expense, Non-Cash Adjustment","Stock-Based Compensation, Non-Cash Adjustment",...,"Cash and Cash Equivalents, End of Period",Change in Cash,Effect of Exchange Rate Changes,"Cash and Cash Equivalents, Beginning of Period",Cash Flow Supplemental Section,"Change in Cash as Reported, Supplemental","Income Tax Paid, Supplemental","Interest Paid, Supplemental",Fiscal year ends in Dec 31 | USD,quarter
1,2021,565000000,565000000,554000000,410000000,239000000,189000000,189000000,51000000,20000000,...,306000000,-19000000,5000000,320000000,NaN,-14000000,NaN,NaN,NaN,2
2,2021,782000000,782000000,785000000,479000000,243000000,194000000,194000000,3000000,-12000000,...,286000000,-14000000,-6000000,306000000,NaN,-20000000,NaN,NaN,NaN,3
3,2021,1062000000,1062000000,1064000000,361000000,225000000,194000000,194000000,8000000,-4000000,...,270000000,-13000000,-3000000,286000000,NaN,-16000000,-492000000,-243000000,NaN,4

In [127]:
df = df.drop(
    columns=[
        "Fiscal year ends in Dec 31 | USD",
        "Cash Flow Supplemental Section",
    ]

)

In [128]:
fill_zero = [
    "Purchase/Sale of Business, Net", # only recorded the year of and year after purchase/sale
    "Purchase/Acquisition of Business", 
]

drop_duplicate = [
    "Write Down and Write off of Other Assets, Non-Cash Adjustment", # addition of prior adjustments
    "Common Stock Dividends Paid", # duplicate of cash dividends paid
]

In [129]:
df[fill_zero] = df[fill_zero].fillna(0)
df = df.drop(columns=drop_duplicate)
df = df.astype(float)
df.to_csv(cleaned_fp / "cash_flow_quarterly.csv", index=False)

C:\Users\seani\AppData\Local\Temp\ipykernel_34568\3412181253.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[fill_zero] = df[fill_zero].fillna(0)

# Cash Flow Ratios

In [130]:
f_name = "cashFlow.xls"
df = excel_to_df(f_name)
df.head(3)

,year,Operating Cash Flow Growth % YOY,Free Cash Flow Growth % YOY,Free Cash Flow/Sales %,Free Cash Flow/Net Income,Free Cash Flow/Share
1,2015-12,-18.95,-30.79,6.72,1.23,3.05
2,2016-12,40.16,96.88,13.52,1.14,6.02
3,2017-12,-9.38,-12.88,11.74,0.94,6.02

In [131]:
df["year"] = df["year"].str.split("-").apply(lambda x: x[0])
df = df.iloc[:-1,:]

In [132]:
to_percent = [
    "Operating Cash Flow Growth % YOY",
    "Free Cash Flow Growth % YOY",
    "Free Cash Flow/Sales %"
]

df = df.astype(float)
df[to_percent] = df[to_percent] / 100
df.to_csv(cleaned_fp / "cash_flow_ratios.csv", index=False)

# Financial Health

In [133]:
f_name = "financialHealth.xls"
df = excel_to_df(f_name)
df.head(3)

,year,Current Ratio,Quick Ratio,Interest Coverage,Financial Leverage,Debt/Equity,Book Value/Share,Cap Ex as a % of Sales
1,2016-12,0.88,0.53,10.43,-,-,0.84,4.24
2,2017-12,0.89,0.50,10.41,24.09,10.29,0.74,4.30
3,2018-12,0.77,0.41,7.89,-,-,-0.39,4.74

In [134]:
df["year"] = df["year"].str.split("-").apply(lambda x: x[0])
df = df.iloc[:-1,:].replace("-", np.nan).astype(float)
df[r"Cap Ex as a % of Sales"] = df[r"Cap Ex as a % of Sales"] / 100
df.to_csv(cleaned_fp / "financial_ratios.csv", index=False)

# Growth Table

In [135]:
f_name = "growthTable.xls"
df = pd.read_excel(data_fp / f_name).T.reset_index()
df.columns = df.iloc[0]
df = df.iloc[1:-1].rename(columns = {"Unnamed: 0": "year"})
df.head(3)

,year,Revenue %,Year Over Year,3-Year Average,5-Year Average,10-Year Average,Operating Income %,Year Over Year,3-Year Average,5-Year Average,...,Net Income %,Year Over Year,3-Year Average,5-Year Average,10-Year Average,EPS %,Year Over Year,3-Year Average,5-Year Average,10-Year Average
1,2016-12,NaN,-2.09,-4.88,-2.68,0.84,NaN,105.64,1.12,6.32,...,NaN,113.82,0.37,6.36,3.75,NaN,116.25,2.7,8.47,6.31
2,2017-12,NaN,0.31,-2.54,-2.82,0.0,NaN,-0.54,9.38,4.2,...,NaN,5.17,14.29,5.42,2.25,NaN,6.84,16.57,7.68,4.58
3,2018-12,NaN,1.24,-0.19,-2.66,-0.49,NaN,-32.43,11.38,-7.02,...,NaN,-38.1,11.65,-8.02,-1.8,NaN,-37.03,13.31,-6.13,-0.02

In [136]:
df = df.dropna(axis=1)
df["year"] = df["year"].str.split("-").apply(lambda x: x[0])
df.iloc[:,1:] = df.iloc[:,1:].astype(float) / 100
df.to_csv(cleaned_fp / "growth_averages.csv", index=False)

# Annual Income Statement

In [137]:
f_name = "Income Statement_Annual_As Originally Reported.xls"
df = excel_to_df(f_name)
df = df.iloc[:-1,:]
df.head(3)

,year,Gross Profit,Total Revenue,Business Revenue,Cost of Revenue,Cost of Goods and Services,Operating Income/Expenses,"Selling, General and Administrative Expenses","Other Income/Expense, Operating",Total Operating Profit/Loss,...,Reported Total Operating Profit/Loss,Reported Effective Tax Rate,Reported Normalized Operating Profit,Reported Normalized Income,Discontinued Operations,Basic EPS,Diluted EPS,Basic WASO,Diluted WASO,Fiscal year ends in Dec 31 | USD
1,2020.0,6822000000.0,19140000000.0,19140000000.0,-12318000000.0,-12318000000.0,-3578000000.0,-3632000000.0,54000000.0,3244000000.0,...,3244000000.0,0.231,3582000000.0,2651000000.0,NaN,6.9,6.87,340700000.0,342500000.0,NaN
2,2021.0,5988000000.0,19440000000.0,19440000000.0,-13452000000.0,-13452000000.0,-3427000000.0,-3399000000.0,-28000000.0,2561000000.0,...,2561000000.0,0.215,2836000000.0,2095000000.0,NaN,5.38,5.35,337300000.0,338800000.0,NaN
3,2022.0,6219000000.0,20175000000.0,20175000000.0,-13956000000.0,-13956000000.0,-3538000000.0,-3581000000.0,43000000.0,2681000000.0,...,2681000000.0,0.212,2617000000.0,1905000000.0,NaN,5.73,5.72,337400000.0,338300000.0,NaN

In [138]:
duplicate_missing = [
    "Income Statement Supplemental Section",
    "Reported Normalized and Operating Income/Expense Supplemental Section",
    "Discontinued Operations",
    "Fiscal year ends in Dec 31 | USD",
]

df = df.drop(columns=duplicate_missing)

In [139]:
df["Reported Normalized Income"] / df["Reported Normalized Operating Profit"]

1    0.740089
2    0.738717
3    0.727933
4    0.752874
5         NaN
dtype: object

In [140]:
# norm. income / norm. operating profit ~ 0.73-0.74 in previous years. imputing average based on this consistency
df.loc[5,"Reported Normalized Income"] = df.loc[5,"Reported Normalized Operating Profit"] * (df["Reported Normalized Income"] / df["Reported Normalized Operating Profit"]).mean()

In [141]:
df = df.astype(float)
df.to_csv(cleaned_fp / "income_statement_annual.csv", index=False)

# Quarterly Income Statement

In [142]:
f_name = "Income Statement_Quarterly_As Originally Reported.xls"
df = excel_to_df(f_name)
df = df.iloc[:-1,:]
df["quarter"] = df["year"].str.split().apply(lambda x: x[0][1])
df["year"] = df["year"].str.split().apply(lambda x: x[1])
df.head(3)

,year,Gross Profit,Total Revenue,Business Revenue,Cost of Revenue,Cost of Goods and Services,Operating Income/Expenses,"Selling, General and Administrative Expenses","Other Income/Expense, Operating",Total Operating Profit/Loss,...,Diluted Weighted Average Shares Outstanding,Reported Normalized Diluted EPS,Total Dividend Per Share,Regular Dividend Per Share Calc,Basic EPS,Diluted EPS,Basic WASO,Diluted WASO,Fiscal year ends in Dec 31 | USD,quarter
1,2021,1480000000,4722000000,4722000000,-3242000000,-3242000000,-867000000,-854000000,-13000000,613000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2021,1483000000,5010000000,5010000000,-3527000000,-3527000000,-826000000,-819000000,-7000000,657000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2021,1436000000,4965000000,4965000000,-3529000000,-3529000000,-915000000,-911000000,-4000000,521000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [143]:
duplicate_missing = [
    "Income Statement Supplemental Section",
    "Reported Normalized and Operating Income/Expense Supplemental Section",
    "Fiscal year ends in Dec 31 | USD"
]

df = df.drop(columns=duplicate_missing)

In [144]:
# only 2 datapoints available. not useful for long term trends
newly_added_features = [
    "Basic EPS",
    "Basic EPS from Continuing Operations",
    "Basic EPS from Discontinued Operations",
    "Diluted EPS",
    "Diluted EPS from Continuing Operations",
    "Diluted EPS from Discontinued Operations",
    "Basic Weighted Average Shares Outstanding",
    "Diluted Weighted Average Shares Outstanding",
    "Reported Normalized Diluted EPS",
    "Total Dividend Per Share",
    "Regular Dividend Per Share Calc",
]

fill_zero = [
    "Discontinued Operations",

]

df[fill_zero] = df[fill_zero].fillna(0)
df = df.drop(columns=newly_added_features)

C:\Users\seani\AppData\Local\Temp\ipykernel_34568\1290007505.py:21: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[fill_zero] = df[fill_zero].fillna(0)

In [145]:
quarterly_income_ratios = (df.groupby("quarter")["Reported Normalized Income"].mean() / df.groupby("quarter")["Reported Normalized Operating Profit"].mean())
quarterly_income_ratios

quarter
1    0.718684
2    0.733874
3    0.747319
4    0.732661
dtype: object

In [146]:
df.loc[df["Reported Normalized Operating Profit"].isna(), "Reported Normalized Operating Profit"] = (
    df.apply(lambda x: x["Reported Normalized Income"] / quarterly_income_ratios[x["quarter"]], axis=1)
)

df.loc[df["Reported Normalized Income"].isna(), "Reported Normalized Income"] = (
    df.apply(lambda x: x["Reported Normalized Operating Profit"] * quarterly_income_ratios[x["quarter"]], axis=1)
)

df[["Reported Normalized Operating Profit", "Reported Normalized Income"]].tail(3)

   Reported Normalized Operating Profit Reported Normalized Income
16                            844000000           606569380.008435
17                            713000000           523251941.911516
18                            683000000            510418900.80429

In [147]:
df = df.astype(float)
df.to_csv(cleaned_fp / "income_statement_quarterly.csv", index=False)

# Profitability and Efficiency

In [148]:
f_name = "profitabilityAndEfficiency.xls"
df = excel_to_df(f_name)
df = df.iloc[:-2]
df.head(3)

,year,Return on Asset %,Return on Equity %,Return on Invested Capital %,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Recieveables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover
1,2016,14.71,-,-,41.05,56.69,82.49,15.25,8.89,6.44,2.55,1.24
2,2017.0,15.31,864.52,32.29,42.78,54.08,84.86,12.0,8.53,6.75,2.5,1.23
3,2018.0,9.5,824.56,21.15,41.99,51.02,85.3,7.71,8.69,7.15,2.53,1.25

In [149]:
df = df.replace("-", np.nan)
to_percent = [
    "Return on Asset %",
    "Return on Equity %",
    "Return on Invested Capital %"
]

df = df.astype(float)
df[to_percent] = df[to_percent] / 100

C:\Users\seani\AppData\Local\Temp\ipykernel_34568\3888350795.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace("-", np.nan)

In [150]:
df.to_csv(cleaned_fp / "efficiency.csv", index=False)

# Summary

In [151]:
f_name = "summary-30-09-2025.xls"
df = excel_to_df(f_name)
df = df.iloc[1:-1] # 2015 only contains 'Shares Outstanding Capital'ArithmeticError
df.head(3)

,year,Revenue,Revenue Growth %,Gross Profit,Gross Profit Margin %,Operating Income,Operating Margin %,EBIT,EBIT Margin %,EBITDA,...,Shares Outstanding Capital,Book Value per Share,Debt to Equity,Cash Flow As of Originally Reported,Cash From Operating Activities,Cash From Investing Activities,Cash From Financing Activities,Capital Expenditure,Free Cash Flow,Change in Cash
2,2016.0,18200000000.0,-2.09,6650000000.0,36.54,3320000000.0,18.22,3320000000.0,18.22,4020000000.0,...,356600000000000000.0,-0.29,64.72,2016.0,3230000000.0,-730000000.0,-2190000000.0,770000000.0,2130000000.0,320000000.0
3,2017.0,18260000000.0,-0.15,6550000000.0,35.89,3300000000.0,18.07,3300000000.0,18.07,4020000000.0,...,351757295000000000.0,1.79,8.42,2017.0,2930000000.0,-850000000.0,-2420000000.0,790000000.0,2290000000.0,-340000000.0
4,2018,18490000000,0.75,5600000000,30.28,2230000000,12.06,2070000000,11.18,2950000000,...,346300915000000000,-0.83,-,2018,2970000000,-900000000,-2120000000,880000000,1700000000,-50000000

In [152]:
df = df.replace("-", np.nan)

C:\Users\seani\AppData\Local\Temp\ipykernel_34568\2340671193.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace("-", np.nan)

In [153]:
df = df.astype(float)

In [154]:
# Shares Outstanding Capital values seems ridicuously large, but I will ignore this for now.
df["Shares Outstanding Capital"]

2     3.566000e+17
3     3.517573e+17
4     3.463009e+17
5     3.428056e+17
6     3.401367e+17
7     3.367167e+17
8     3.374921e+17
9     3.369980e+17
10    3.334853e+17
Name: Shares Outstanding Capital, dtype: float64

In [155]:
# estimate w/ manuall D/E ratio
df.loc[df["Debt to Equity"].isna(), "Debt to Equity"] = df["Total Debt"] / df["Total Equity"]

In [156]:
df.isna().sum().sum()

np.int64(0)

Not saving Summary data for later. Units seem to be non-USD  
Minimal information should be lost since the same information should be in the rest of the files. Summary features were fairly generic.  
Data included Income Statement, Balance Sheet, Cash Flow which I recorded previously.

In [ ]:
# df.to_csv(cleaned_fp / "summary.csv", index=False)

# Ownership

In [158]:
f_name = "ownership.csv"
df = pd.read_csv(data_fp / "ownership.csv")
df.head(3)

,percent_ownership,percent_portfolio_allocated,shares_owned,shares_bought,percent_position_change,recent_ownership_date
0,0.0313,0.0005,10399902,-16737,-0.001609,2025-12-31
1,0.0298,0.0126,9896148,18972,0.001917,2026-01-31
2,0.0253,0.0006,8402071,15453,0.001839,2025-12-31