# Stock Price Data Collection

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (1.1.0)
Requirement already satisfied: pandas>=1.3.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: requests>=2.31 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: pytz>=2022.5 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (4.13.3)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (6.33.5)
Requirement already satisfied: websockets>=13.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2026.1.4)
Requirement already satisfied: soupsieve>1.2 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: pycparser in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from pandas>=1.3.0->yfinance) (2025.3)
Requirement already satisfied: six>=1.5 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages (from requests>=2.31->yfinance) (2.6.3)

WARNING: Ignoring invalid distribution ~andas (C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\seani\miniforge3\envs\kmb_analysis\Lib\site-packages)

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

ticker = "KMB"
end_date = datetime.now()
start_date = end_date - timedelta(days = 25*365)

df = yf.download(ticker, start=start_date, end=end_date)
df.head(3)

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker            KMB        KMB        KMB        KMB      KMB
Date
2001-02-22  28.992308  29.378873  28.784478  28.909178  1647106
2001-02-23  29.033878  29.137793  28.597437  29.096230  1784990
2001-02-26  29.125311  29.245853  28.406219  28.867603  1821287

In [3]:
df.columns = [c[0] for c in df.columns]
df = df.reset_index()
df.head(3)

        Date      Close       High        Low       Open   Volume
0 2001-02-22  28.992308  29.378873  28.784478  28.909178  1647106
1 2001-02-23  29.033878  29.137793  28.597437  29.096230  1784990
2 2001-02-26  29.125311  29.245853  28.406219  28.867603  1821287

In [ ]:
from pathlib import Path
df.to_csv(Path("preprocessed") / "KMB_prices_dates.csv", index=False)

In [5]:
# from datetime import datetime, timedelta
df["Date"] = df["Date"].dt.year + df["Date"].apply(lambda x: x.timetuple().tm_yday) / 366 # leap year
df.head(3)

          Date      Close       High        Low       Open   Volume
0  2001.144809  28.992308  29.378873  28.784478  28.909178  1647106
1  2001.147541  29.033878  29.137793  28.597437  29.096230  1784990
2  2001.155738  29.125311  29.245853  28.406219  28.867603  1821287

In [6]:
df.to_csv(Path("preprocessed") / "KMB_prices_floats.csv", index=False)